nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #fff;
    z-index: 100;
    width: 100%;
    height: auto;
    padding: 0 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
}
nav img {
    width: auto;
    height: 60px;
}
.option {
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    margin-left: 10px;
}